RESEND_API_KEY=
NOTIFY_EMAIL_PRIMARY=jackson.mcinerney@4i.energy
NOTIFY_EMAIL_SECONDARY=tj.nardini@4i.energy
QUOTE_FROM_EMAIL=quotes@detachandreset.com

GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_KEY=
GOOGLE_CALENDAR_ID=

PHOTO_SMS_NUMBER=
SITE_URL=https://detachandreset.com
